adal==1.2.7
aiohttp==3.7.4.post0
aiosignal==1.2.0
arrow==1.2.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
azure-cognitiveservices-language-luis==0.7.0
azure-common==1.1.28
azure-core==1.23.1
azure-identity==1.9.0
binaryornot==0.4.4
botbuilder-core==4.14.2
botbuilder-integration-aiohttp==4.14.2
botbuilder-schema==4.14.2
botframework-connector==4.14.2
botframework-streaming==4.14.2
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
cookiecutter==1.7.0
cryptography==3.4.8
frozenlist==1.3.0
future==0.18.2
google-api-core==2.7.1
google-auth==2.6.4
googleapis-common-protos==1.56.0
idna==2.10
isodate==0.6.1
Jinja2==3.1.1
jinja2-time==0.2.0
jsonpickle==1.4.2
MarkupSafe==2.1.1
msal==1.17.0
msal-extensions==0.3.1
msrest==0.6.19
msrestazure==0.6.4
multidict==6.0.2
oauthlib==3.2.0
opencensus==0.8.0
opencensus-context==0.1.2
opencensus-ext-azure==1.1.3
portalocker==2.4.0
poyo==0.5.0
protobuf==3.20.0
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==1.7.1
python-dateutil==2.8.2
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
typing-extensions==4.1.1
urllib3==1.26.9
whichcraft==0.6.1
yarl==1.4.2
